

.animation-smooth {
  animation-duration: 0.5s;
}

.animation-fast {
  animation-duration: .2s;
}

.animate {

  opacity: 0;
  animation-fill-mode: forwards;
}

.draw {
  opacity: 1 !important;
  clip-path: inset(0 100% 0 0);
  animation-fill-mode: forwards;
  animation-name: draw !important;
}

.appear {
  animation-name: appear;
}

.disappear {
  animation-name: disappear;
}

.hideOnHover:hover {
  animation-name: disappear;
}

.floating-element {
  animation: float 5s ease-in-out infinite alternate;
}

@keyframes float {
  0%, 100% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(3px) rotateZ(-1deg); /* Slight rotation */
  }
}

@keyframes appear {
  from {
    opacity: 0;
    transform: translateX(20px);
  }

  to {
    opacity: 1;
    transform: translateX(0px);
  }
}

@keyframes disappear {
  from {
    opacity: 1;
    transform: translateX(0px);
  }

  to {
    opacity: 0;
    transform: translateX(20px);
  }
}


@keyframes draw {
  from {
    clip-path: inset(0 100% 0 0);
    /* Start from 0 width */
  }

  to {
    clip-path: inset(0 0 0 0);
    /* End with full width */
  }
}