.desdibujo {
  clip-path: inset(0 100% 0 0);
}

.dibujo {
  opacity: 1 !important;
  clip-path: inset(0 1% 0 0);
}

.floating-element {
  animation: float 5s ease-in-out infinite alternate;
}

@keyframes float {
  0%, 100% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(3px) rotateZ(-1deg); /* Slight rotation */
  }
}

