.undraw {
  clip-path: inset(0 100% 0 0);
}

.draw {
  clip-path: inset(0 0 0 0);
}

.floating-element {
  animation: float 5s ease-in-out infinite alternate;
}

@keyframes float {
  0%, 100% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(3px) rotateZ(-1deg); /* Slight rotation */
  }
}



.drawy {
  opacity: 1 !important;
  clip-path: inset(0 100% 0 0);
  animation-fill-mode: forwards;
  animation-name: drawyy !important;
}


@keyframes drawyy {
  from {
    clip-path: inset(0 100% 0 0);
    /* Start from 0 width */
  }

  to {
    clip-path: inset(0 0 0 0);
    /* End with full width */
  }
}