/*
  The CSS in this style tag is based off of Bear Blog's default CSS.
  https://github.com/HermanMartinus/bearblog/blob/297026a877bc2ab2b3bdfbd6b9f7961c350917dd/templates/styles/blog/default.css
  License MIT: https://github.com/HermanMartinus/bearblog/blob/master/LICENSE.md
 */
html {
	scroll-behavior: smooth;
}

:root {
	--accent: #FF9E00;
	--accent-focus: #845200;
}

/*@font-face {
	font-family: 'Atkinson';
	src: url('/fonts/atkinson-regular.woff') format('woff');
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Atkinson';
	src: url('/fonts/atkinson-bold.woff') format('woff');
	font-weight: 700;
	font-style: normal;
	font-display: swap;
}
*/
body {
	font-family: "DM Sans", sans-serif;
	margin: 0;
	padding: 0;
	text-align: left;
	word-wrap: break-word;
	overflow-wrap: break-word;
}

.font-brand {
    font-family: "Livvic", sans-serif;
}

.font-logic {
	font-family: "Urbanist", sans-serif;
}

.text-brand {
	color: var(--accent);
}

.fill-brand {
	fill: var(--accent);
}

.bg-brand {
	background-color: var(--accent);
}

.border-brand {
	border-color: var(--accent);
}

/* For Webkit-based browsers (Chrome, Safari and Opera) */
.scrollbar-hide::-webkit-scrollbar {
    display: none;
}

/* For IE, Edge and Firefox */
.scrollbar-hide {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

.feather-right {
    -webkit-mask-image: linear-gradient(to right, black 0% black 95%, transparent 100%);
      mask-image: linear-gradient(to right, black 0%, black 95%, transparent 100%);
  }