---
import Layout from '../../layouts/Layout.astro';
import Icon from "../../components/blocks/Icon.astro";
import Container from "../../components/blocks/Container.astro";
const pages = [
  {
    slug: 'email-already-exists',
    title: 'El email que ingresaste ya está registrado',
    text: "200; url=/",
  },
  {
    slug: 'products/astro-handbook',
    title: 'El libro definitivo de Astro',
    text: 'Si quieres aprender sobre Astro, debes leer este libro.',
  }
];

const { slug } = Astro.params;
const page = pages.find((page) => page.slug === slug);
if (!page) return Astro.redirect("/404");
const { title, text } = page;

---

<Layout
	title={title}
	description={text}
	image='https://micmic.shop/img/link-img.jpg'
	>
	<main>
    <Container customClass="h-screen flex flex-col items-center justify-center gap-6 lg:max-w-4xl text-center">

      <Icon name="close" customClass='fill-orange-500' size="90" />
      <h1 class="text-xl md:text-2xl font-bold">{title}</h1>
      <a class="underline hover:text-orange-500" href="/">Ir a la página de inicio</a>
    </Container>
	</main>
</Layout>