---
import type { GetStaticPaths } from "astro";
import Layout from '../../layouts/Layout.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../../consts';

export const getStaticPaths = (() => {
    
    return [
        { params: {partner: 'Pizza-Fast-Demo'}}
    ];
}) satisfies GetStaticPaths;

const {partner} = Astro.params;
---

<Layout
	title={SITE_TITLE}
	description={SITE_DESCRIPTION}
	image='https://micmic.shop/img/link-img.jpg'
	>
	<main>
        <h1>{partner}</h1>
	</main>
</Layout>