---
import Layout from '../../layouts/Layout.astro';
import Hero from '../../components/HeroBlock.astro';
import FlagCTA from '../../components/FlagCTA.astro';
import WspButton from '../../components/WspButton.astro';
import Features from '../../components/Features.astro';
import Pricing from '../../components/Pricing.astro';
import FAQ from '../../components/FAQ.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../../consts';
import {SignIn} from "auth-astro/components"
---

<Layout
	title={SITE_TITLE}
	description={SITE_DESCRIPTION}
	image='https://micmic.shop/img/link-img.jpg'
	>
	<main>
		<Hero />
		<SignIn provider={"google"}>Ingresá con Google</SignIn>
		<Features />
		<Pricing />
		<FlagCTA />
		<FAQ />
		<WspButton />
	</main>
</Layout>
