---
import type { HTMLAttributes } from 'astro/types';

type Props = HTMLAttributes<'a'>;

const { href, class: className, ...props } = Astro.props;
const defaultClass = "text-orange-500 hover:text-orange-600 hover:underline"

const { pathname } = Astro.url;
const subpath = pathname.match(/[^\/]+/g);
const isActive = href === pathname || href === '/' + subpath?.[0];
---

<a href={href} class:list={[defaultClass, className, { active: isActive }]} {...props}>
	<slot />
</a>
