---
import Layout from "../layouts/Layout.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';

const meta = {
    "http-equiv": "refresh",
    content: "2; url=/",
};
---

<Layout
    title={SITE_TITLE}
	description={SITE_DESCRIPTION}
	image=''
    meta={[meta]}
>
    <main>
        
    </main>
</Layout>
