---
import Layout from "../layouts/Layout.astro";
import Lost from '../components/Lost.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';

const meta = {
    "http-equiv": "refresh",
    content: "2; url=/",
};
---

<Layout
    title={SITE_TITLE}
	description={SITE_DESCRIPTION}
	image='https://micmic.shop/img/link-img.jpg'
    meta={[meta]}
>
    <main> 
	    <Lost />
    </main>
</Layout>
