---
import Layout from "../layouts/Layout.astro";
import RegisterCard from "../components/RegisterCard.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";

---

<Layout
	title={SITE_TITLE}
	description={SITE_DESCRIPTION}
	image="https://micmic.shop/img/link-img.jpg"
>
	<main>
		<RegisterCard />
	</main>
</Layout>