---
import { app } from "../firebase/server";
import { getAuth } from "firebase-admin/auth";
import Layout from "../layouts/Layout.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';

const auth = getAuth(app);
if (!Astro.cookies.has("session")) {
  return Astro.redirect("/404");
}

const sessionCookie = Astro.cookies.get("session");
if (!sessionCookie) {
  // Handle the case where session cookie is not found
  // For example, redirect the user to the sign-in page
  return Astro.redirect("/404");
}

const decodedCookie = await auth.verifySessionCookie(sessionCookie.value);
if (!decodedCookie) {
  // Handle the case where session cookie verification fails
  // For example, redirect the user to the sign-in page
  return Astro.redirect("/404");
}

const user = await auth.getUser(decodedCookie.uid);
if (!user) {
  // Handle the case where user data is not found
  // For example, redirect the user to the sign-in page
  return Astro.redirect("/404");
}
---

<Layout
	title={SITE_TITLE}
	description={SITE_DESCRIPTION}
	image='https://micmic.shop/img/link-img.jpg'
  hideHeader={true}>
  <h1>Hola {user.displayName}</h1>
  <form action="/api/auth/signout">
    <button type="submit">Cerrar sesión</button>
  </form>
</Layout>