---
import Layout from '../layouts/Layout.astro';
import Load from '../components/Load.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
import { getSession } from 'auth-astro/server';
const session = await getSession(Astro.request);

const meta = {
    "http-equiv": "refresh",
    content: "2000; url=/partner",
};
---

<Layout
	title={SITE_TITLE}
	description={SITE_DESCRIPTION}
	image='https://micmic.shop/img/link-img.jpg'
    meta={[meta]}
	>
	<main>
		{
			session ? (
			  <p>Welcome {session.user?.name}</p>
			) : (
			  <p>Not logged in</p>
			)
		  }
		<Load />
	</main>
</Layout>

