---
import HeaderLink from "./blocks/HeaderLink.astro";
---

<HeaderLink href="/partner">Home</HeaderLink>
<HeaderLink href="/partner#features">Beneficios</HeaderLink>
<HeaderLink href="/partner#pricing">Precios</HeaderLink>
<HeaderLink href="/partner#faqs">Preguntas frecuentes</HeaderLink>
<HeaderLink href="/privacy">Políticas de Privacidad</HeaderLink>
<div class="flex w-fit h-fit g-button-container hidden rounded-xl overflow-hidden border border-gray-400 hover:shadow">
    <div style="text-2xl" class="g-signin2" data-onsuccess="onSignIn"></div>
</div>
