---
import Navigator from "./cart/Navigator.astro";
import Icon from "../components/blocks/Icon.astro";

var cart = {
        articlesAmount: 3,
        local: true
}
---

<!-- Portada -->
<img
        src="https://img.freepik.com/free-vector/fast-food-pattern_1108-194.jpg?t=st=1708603521~exp=1708607121~hmac=9067b75ef2fe2a264e263d9446322007ab836f1f54f0b849f720d946bd8a756c&w=996"
        class="h-20 w-full object-cover opacity-100 bg-white"
        loading="lazy"
        onerror="this.onerror=null; this.src='data:image/jpeg;base64,/9j/4AAQSkZJRgABAgEASABIAAD/2wBDAAEBAQEBAQEBAQEBAQEBAQEBAQEBAQEBAQEBAQEBAQEBAQEBAQEBAQEBAQEBAQEBAQEBAQEBAQEBAQEBAQEBAQH/2wBDAQEBAQEBAQEBAQEBAQEBAQEBAQEBAQEBAQEBAQEBAQEBAQEBAQEBAQEBAQEBAQEBAQEBAQEBAQEBAQEBAQEBAQH/wAARCAADAAMDAREAAhEBAxEB/8QAHwAAAQUBAQEBAQEAAAAAAAAAAAECAwQFBgcICQoL/8QAtRAAAgEDAwIEAwUFBAQAAAF9AQIDAAQRBRIhMUEGE1FhByJxFDKBkaEII0KxwRVS0fAkM2JyggkKFhcYGRolJicoKSo0NTY3ODk6Q0RFRkdISUpTVFVWV1hZWmNkZWZnaGlqc3R1dnd4eXqDhIWGh4iJipKTlJWWl5iZmqKjpKWmp6ipqrKztLW2t7i5usLDxMXGx8jJytLT1NXW19jZ2uHi4+Tl5ufo6erx8vP09fb3+Pn6/8QAHwEAAwEBAQEBAQEBAQAAAAAAAAECAwQFBgcICQoL/8QAtREAAgECBAQDBAcFBAQAAQJ3AAECAxEEBSExBhJBUQdhcRMiMoEIFEKRobHBCSMzUvAVYnLRChYkNOEl8RcYGRomJygpKjU2Nzg5OkNERUZHSElKU1RVVldYWVpjZGVmZ2hpanN0dXZ3eHl6goOEhYaHiImKkpOUlZaXmJmaoqOkpaanqKmqsrO0tba3uLm6wsPExcbHyMnK0tPU1dbX2Nna4uPk5ebn6Onq8vP09fb3+Pn6/9oADAMBAAIRAxEAPwD+lD4cfEfxz/wg3hr/AIqXUv8AkGp/HH/z0k/6Z0AA/9k='"
/>

<Navigator cart={cart} />



<!-- Profile Header -->

<div class="flex flex-col gap-2 mt-[-20px] px-4 z-30">
        <div class="w-12 h-12 bg-gray-200 rounded-full"></div>
        <div class="flex flex-col gap-1">
                <h1 class="text-lg">Macarena Bar y Eventos</h1>
                <p
                        class="text-sm bg-orange-500 w-fit px-2 text-center text-white rounded"
                >
                        Disponible
                </p>
        </div>

        <!-- Pickup Options -->
        <div
                class="flex flex-row items-center border rounded-2xl relative gap-8"
        >
                <!-- Selector -->
                <div
                        class="h-full w-1/2 absolute left-0 pointer-events-none p-1"
                >
                        <div
                                class="h-full w-full outline outline-1 outline-black bg-black rounded-xl"
                        >
                        </div>
                </div>

                <!-- Options A -->
                <div
                class="z-10 flex flex-col w-1/2 py-3 justify-center items-center fill-white text-white text-sm"
                >
                        <div class="flex flex-row gap-1 font-semibold items-center">
                                <Icon size="18" name="store" />
                                <p>Local</p>
                        </div>
                        <p>5-20 min</p>
                </div>

                <!-- Options B -->
                <div
                class="z-10 flex flex-col w-1/2 py-3 justify-center items-center fill-black text-black text-sm"
                >
                        <div class="flex flex-row gap-1 font-semibold items-center">
                                <Icon size="18" name="pickup" />
                                <p>Pickup</p>
                        </div>
                        <p>5-20 min</p>
                </div>
        </div>
</div>

<!-- Category Container -->
<div class="flex flex-col gap-2 p-4">
        <h1 class="text-lg font-bold">Pizzas XL</h1>

        <!-- Product Card -->
        <div class="flex flex-col gap-6 relative border-b py-4 overflow-hidden">
                <div class="">
                        <div class="flex flex-row gap-1 justify-between">
                                <div class="flex flex-col gap-2 text-sm w-2/3">
                                        <h2 class="uppercase">
                                                Margarita Italiana
                                        </h2>
                                        <p class="text-gray-600">
                                                Salsa de Tomate / Mozzarella /
                                                Albahaca
                                        </p>
                                </div>

                                <img
                                        class="w-24 h-24 bg-white object-cover rounded-xl"
                                        src="https://images.pexels.com/photos/905847/pexels-photo-905847.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2"
                                        alt="pizza"
                                />
                        </div>
                </div>

                <div class="flex flex-row justify-between items-center">
                        <!-- Price -->
                        <h3 class="">$5899</h3>

                        <!-- Ammount Selector & Indicator -->

                        <div
                                class="flex flex-row gap-2 items-center justify-center border border-black rounded"
                        >
                                <button class="fill-black rounded-full p-1">
                                        <Icon name="remove" size="20" />
                                </button>

                                <p>2</p>

                                <button class="fill-black rounded-full p-1">
                                        <Icon name="plus" size="20" />
                                </button>
                        </div>
                </div>
        </div>
</div>

<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
