---
import GoogleIcon from "../assets/icons/GoogleIcon.astro";
---

    <button id="google" class="bg-white border border-gray-300 text-sm rounded-xl hover:shadow flex flex-row gap-2 items-center justify-center p-2">
      <GoogleIcon />
      Iniciá con Google
    </button>
  