---
import Container from './blocks/Container.astro';
import ButtonAccess from './blocks/ButtonAccess.astro';
import ButtonAccessSecondary from './blocks/ButtonAccessSecondary.astro';
import MainHeroSVG from '../assets/svg/mainHeroSVG.astro';
---
<div class="bg-gray-100/50 pt-32 sm:pt-24">
<Container>
<div class="flex flex-col md:flex-row max-w-5xl mx-auto items-center gap-12">
    <div class="md:w-1/2 flex flex-col gap-3">
        <h1 class="text-5xl font-semibold text-gray-900">
            Lleva tu negocio al siguiente nivel con <span class="font-brand font-bold text-orange-500">micmic</span>
        </h1>
        <p class="text-xl text-gray-800">
            Digitalizá tu negocio. Creá tu catálogo de productos y generá más y mejores ventas.
        </p>
        <div class="flex flex-wrap gap-3">
            <ButtonAccess href="#pricing" customClass={"text-xl"}>Empezar ahora</ButtonAccess>
			<ButtonAccessSecondary href="#features" class:list={"text-xl"}>Ver más</ButtonAccess>
        </div>
    </div>
    <div class="w-full sm:w-2/3 md:w-1/2 relative intersect opacity-0 translate-x-4 intersected:opacity-100 intersected:translate-x-0 transition-all">
        <MainHeroSVG />
    </div>
</div>
</Container></div>