---
import Logo from "./Logo.astro";
---

<div class="flex flex-col justify-center items-center w-full h-[450px]">
    <Logo />
    <div class="flex flex-row gap-2 items-center justify-center">
        <svg
            class="w-6 h-6 animate-spin"
            viewBox="0 0 800 800"
            xmlns="http://www.w3.org/2000/svg"
        >
            <path
                d="M362.5 37.5C362.5 27.5544 366.451 18.0161 373.483 10.9835C380.516 3.95088 390.054 0 400 0C506.087 0 607.828 42.1427 682.843 117.157C757.857 192.172 800 293.913 800 400C800 409.946 796.049 419.484 789.016 426.516C781.984 433.549 772.446 437.5 762.5 437.5C752.554 437.5 743.016 433.549 735.984 426.516C728.951 419.484 725 409.946 725 400C725 313.805 690.759 231.14 629.81 170.19C568.86 109.241 486.195 75 400 75C390.054 75 380.516 71.0491 373.483 64.0165C366.451 56.9839 362.5 47.4456 362.5 37.5Z"
            ></path>
        </svg>
        <p>Estaremos con vos en un segundo...</p>
    </div>
</div>
