---
import { SITE_TITLE } from '../consts';
---

<a href="/" class="bg-orange-500 font-brand text-white flex text-center pt-4 font-semibold justify-center h-16 w-16 rounded-xl">
        {SITE_TITLE}
</a>