---
import Container from "./blocks/Container.astro";
import ButtonAccess from './blocks/ButtonAccess.astro';
import GoogleSignInButton from "./GoogleSignInButton.astro";
const blockContainer = {
    inputClass: "transition-all rounded-xl bg-gray-100 focus:bg-transparent border-2 border-transparent focus:border-gray-500 outline-none px-3 py-1.5",
    labelClass: "text-sm"
}
---

<Container customClass="mt-24 flex flex-col gap-6 lg:flex-row lg:max-w-fit">
    <div class="text-center gap-2 lg:gap-4 flex flex-col lg:w-5/12 lg:pl-12 lg:text-left">
        <h2
            class="text-2xl font-bold text-gray-800 md:text-3xl lg:text-4xl"
        >
            ¡Hola!
        </h2>
        <p
            class="text-gray-600"
            
        >
        Qué bueno verte de nuevo.
        </p>
    </div>
    </div>
    <form class="flex flex-col gap-4 bg-white md:border rounded-2xl md:px-6 md:py-8 md:w-1/2 mx-auto " action="/api/auth/signin" method="post">
        <div class="flex flex-col gap-2">
            <label class={blockContainer.labelClass} for="email">Correo electrónico</label>
            <input class={blockContainer.inputClass} type="email" name="email" id="email" />
        </div>
        <div class="flex flex-col gap-2">
            <label class={blockContainer.labelClass} for="password">Contraseña</label>
            <input class={blockContainer.inputClass} type="password" name="password" id="password" />
        </div>
        <div class="flex flex-col gap-2">
            <p class="text-xs text-gray-500">Algunas de nuestras políticas de privacidad han cambiado, checalas en <a href="/privacy">Privacy Policy</a>.</p>
        </div>
        
        <ButtonAccess customType="submit">Iniciá sesión</ButtonAccess>
        <p class="text-gray-600 text-center mx-auto">ó</p>
        <GoogleSignInButton />
        <p class="mx-auto">¿No sos cliente? <a class="text-orange-500 hover:underline" href="/register">Create an account</a></p>
    </form>

</Container>